<html>
  <h1>login</h1>
  <% @user ||= User.new %>
  <%# ↑はもし@userがないときは作っておきましょう　という意味です。
  あれば、なにもしません%>
  
  <div>
    <%= form_for @user, url: login_path do |f| %>
    <ul>
      <li>email: <%= f.text_field :email %></li>
      <li>password: <%= f.password_field :password %></li>
      <li><%= f.submit 'login' %></li>
    </ul>
    <% end %>
  </div>
  <div>
    <p>new user <%= link_to 'register', new_user_path %></p>
  </div>
</html>