<div>
  create new tweet
</div>
<div>
  <%= form_for @tweet do |f| %>
  <ul>
    <li>
      tweet: <%= f.text_field :post %>
    </li>
    <li>
      <%= f.submit 'create tweet' %>
    </li>
  </ul>
  <% end %>
</div>