<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
<% if !!session[:user] %>
    <p>
      <%= link_to 'new tweet', new_tweet_path %>
    </p>
<% else %>
    <p><%= link_to 'login', login_path %></p>
<% end %>
<div>
  <ul>
  <% @tweets.each do |tweet| %>
      <li>
        <%= tweet.post %>
        <% if !!session[:user] %>
        : by <%= link_to tweet.user.name, user_path(tweet.user) %>
        : at <%= tweet.created_at %> :
            <% if session[:user] == tweet.user.id %>
              <%= link_to 'delete', tweet_path(tweet), method: :delete %>
            <% end %>
        <% end %>
      </li>
  <% end %>
  </ul>
</div>
