  <% if !!flash[:danger] %>
    <%= flash[:danger] %>
  <% end %>
  <%= form_for @user do |f| %>
  <ul>
    <li>name:<%= f.text_field :name %></li>
    <li>email:<%= f.text_field :email %></li>
    <li>password:<%= f.password_field :password %></li>
    <li>password(confirm):<%= f.password_field :password_confirmation %></li>
    <li><%= f.submit submit %></li>
  </ul>
  <% end %> 