<html>
  <h1>users index</h1>
  <h2><%= @users %></h2>
  <div>
    <% @users.each do |user| %>
      ID: <%= user.id %>, name: <%= user.name %>, email: <%= user.email %>
      <%= link_to 'show', user %>
      <%= link_to 'edit', edit_user_path(user) %>
      <%= link_to 'delete', user, method: :delete %>
      <br>
    <% end %>
  </div>
</html>