<html>
  <h1>show user</h1>
  <ul>
    <li><%= @user.id %></li>
    <li><%= @user.name %></li>
    <li><%= @user.email %></li>
    <li>
      <% if @user.following? session[:user] %>
        now you are following this user
        <%= link_to 'unfollow', follow_path(@user), method: :delete %>
      <% elsif @user.id != session[:user] %>
        now you are not following this user
        <%= link_to 'follow', follow_path(@user), method: :post %>
      <% else %>
        it's you
      <% end %>
    </li>
  </ul>
  <div>
    <h2>this user follows</h2>
    <ul>
      <%= render @user.followers %>
    </ul>  
  </div>
  
  <div>
    <h2>this user is followed by</h2>
    <ul>
      <%= render @user.followees %>
    </ul>  
  </div>
  
</html>