<!DOCTYPE html>
<html>
<head>
  <title>TweetClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:danger] %>
  <%= flash[:danger] %>
<% end %>

<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<% if !!session[:user] %>
  ログインしています: <% session[:user] %>
  <%= link_to 'ログアウト', logout_path %>
<% else %>
  ログインしていません
<% end %>

<%= yield %>

</body>
</html>
